html{
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
    width: 100%;
    background-color: #8625d2;
    color:white;
    font-size: 20px;
    padding: 4px 0;
    margin:0;
}

nav{
    background-color: #8725d26c;
}
main{
    margin-top: 10px;
}

.container-cursos{
    display:flex;
}

.curso{
    width: 30vw;
}

.curso:hover{
    background-color: beige;

    #image-curso{
        box-shadow: 10px 5px 5px black;
    }
}

.container-image{
    width: 20rem;
    height: 10rem;
}
#image-curso{
    max-width: 10rem;
    max-height: 7rem;
}

section{
    margin: auto;
}

