<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <link href="/blog.css" rel="stylesheet">
</head>
<body>

  <a href="../public/carro.html">Adicionar carro</a>
  <a href="../public/carro.html">Remover Carro</a>
  <a href="../public/carro.html">Atualizar Carro</a>
  <a href="../public/carro.html">Vender carro</a>

  <main>
     <article>
        Carro removido:
          <p>marca: <%= db_marca %></p>
          <p>modelo: <%= db_modelo %></p>
          <p>ano: <%= db_ano %></p>
        </article>
  </main>

</body>
</html>
