<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <link href="/blog.css" rel="stylesheet">
</head>
<body>

  <a href="/cadastrar_post.html"><button>Criar post</button></a>

  <main>
    
  </main>

</body>
</html>
