<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="blog.css" rel="stylesheet">
</head>
<body>


    <main>
        <h1><%= titulo %> </h1>
        <p><%= resumo %> </p>
        <p>Nascimento: <%= nascimentoLogin %> </p>
        <p><%= conteudo %> </p>
    </main>

</body>
</html>
